{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}회원가입 | Custom Economy{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}

{% block content %}


<div class="signup_body">
    <form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="signup_float">
        <div class="signup_logo" onclick="location.href='{% url 'main' %}'">
            <p>Custom Economy</p>
        </div>

        <div class="signup_toggle">
            <div class="login_toggle_btn" onclick="location.href='{% url 'login' %}'">Login</div>
            <div class="signup_toggle_btn" onclick="location.href='{% url 'signup' %}'">Sign up</div>
        </div>

        <div class="signup_input_area">
            <div class="field">
                <div class="icon" id="email-icon">
                   <img src="{% static 'icon/person.svg' %}" alt="email icon" width="24">
                </div>
                <input type="text" id="name" placeholder="username" name="username" required maxlength="15" value="{{ username|default_if_none:'' }}" />
                <br>
            </div>
            {% if username_error %}
                <div class="field-error" style="color:#ef9160;margin-top:6px; margin-left:7px;font-size:12px">{{ username_error }}</div>
            {% endif %}
            <div class="field">
                <div class="icon" id="email-icon">
                   <img src="{% static 'icon/mark_email_unread.svg' %}" alt="email icon" width="24">
                </div>
                <input type="email" id="email" placeholder="이메일" name="email" required maxlength="40" value="{{ email|default_if_none:'' }}" />
            </div>
            {% if email_error %}
                <div class="field-error" style="color:#ef9160;margin-top:6px; margin-left:7px;font-size:12px;">{{ email_error }}</div>
            {% endif %}
            <div class="field">
                <div class="icon" id="lock-icon">
                <img src="{% static 'icon/Lock.svg' %}" alt="lock icon" width="24">
                </div>
                <input type="password" id="password" placeholder="비밀번호" name="password" required minlength="8" />
                <button type="button"
                        class="pw_show_btn"
                        data-target="password"
                        data-eye-on="{% static 'icon/eye.svg' %}"
                        data-eye-off="{% static 'icon/eye_off.svg' %}">
                <img class="pw-eye-icon" src="{% static 'icon/eye_off.svg' %}">
                </button>
            </div>

            {% if password_error %}
                <div class="field-error" style="color:#ef9160;margin-top:6px; margin-left:7px;">{{ password_error }}</div>
            {% endif %}
            <div class="field">
                <div class="icon" id="lock-icon">
                <img src="{% static 'icon/Lock.svg' %}" alt="lock icon" width="24">
                </div>
                <input type="password" id="password_confirm" placeholder="비밀번호 확인" name="password_confirm" required minlength="8" />
                <button type="button"
                        class="pw_show_btn"
                        data-target="password_confirm"
                        data-eye-on="{% static 'icon/eye.svg' %}"
                        data-eye-off="{% static 'icon/eye_off.svg' %}">
                <img class="pw-eye-icon" src="{% static 'icon/eye_off.svg' %}">
                </button>
            </div>
            {% if password_confirm_error %}
                <div class="field-error" style="color:#ef9160;margin-top:6px; margin-left:7px;font-size:12px;">{{ password_confirm_error }}</div>
            {% endif %}
        </div>

        <div class="signup_interest_title"><p>어느 분야가 관심 있으신가요?</p></div>
        <div class="signup_interest_area" id="interestArea">
            <button type="button" class="interest-btn" data-name="소비">소비</button>
            <button type="button" class="interest-btn" data-name="취업/고용">취업/고용</button>
            <button type="button" class="interest-btn" data-name="대출/금융">대출/금융</button>
            <button type="button" class="interest-btn" data-name="자영업/사업자">자영업/사업자</button>
            <button type="button" class="interest-btn" data-name="투자">투자</button>
            <button type="button" class="interest-btn" data-name="세금/정책">세금/정책</button>
            <button type="button" class="interest-btn" data-name="부동산">부동산</button>
            <button type="button" class="interest-btn" data-name="환율/해외">환율/해외</button>

            <!-- 선택된 관심사 이름들을 쉼표로 담아서 서버로 보냄 -->
            <input type="hidden" name="selected_interests" id="selected_interests" value="" />
        </div>
        {% if selected_interests_error %}
            <div class="field-error" style="color:#ef9160;margin-top:6px; margin-left:7px;font-size:12px;">{{ selected_interests_error }}</div>
        {% endif %}


        <div class="error_msg">
            {% if form_error %}
            <div class="field-error" style="color:#ef9160;margin-top:10px; margin-left:7px; font-size:12px;">
                {{ form_error }}
            </div>
            {% endif %}
        </div>


        <div class="signup_submit_btn">
            <button type="submit" class="submit-btn">Sign up</button>
        </div>
        

    </div>
    </form>

    <!-- 모달 팝업 영역입니둥. 안 보이는 게 정상 -->
    {% comment %} <div id="signupModal" class="modal">
        <div class="modal-content">
            <div class="close_btn" onclick="closeModal()">
                <img src="{% static "icon/letter_x.png" %}">
            </div>
            <div class="leveltest_suggestion">
                <p>레벨 측정 질문들에 응답하시면 {{ user_name }}님에게 맞는<br>레벨을 찾아드려요!</p>
            </div>
            <br>
            <div class="leveltest_subtext">
                <p>*레벨은 AI 재풀이와 퀴즈에 사용됩니다.</p>
            </div>

            <br><br><br><br>
            <div class="button_area">
                <a href="{% url 'main' %}" class="no_btn">
                    레벨 측정 없이 Lv1부터 시작
                </a>
                <a href="{% url 'level_test' %}" class="yes_btn">
                    나의 경제 레벨 측정하러 가기
                </a>
            </div>
            
        </div>
    </div> {% endcomment %}

</div>


<script>
document.addEventListener("DOMContentLoaded", () => {
  const form = document.querySelector("form");
  const hidden = document.getElementById("selected_interests");
  const modal = document.getElementById("signupModal");

  const signupSuccess = {{ signup_success|yesno:"true,false" }};
  if (signupSuccess && modal) {
    modal.style.display = "flex";
  }

  const selected = new Set();

  document.querySelectorAll(".interest-btn").forEach((btn) => {
    btn.addEventListener("click", () => {
      const name = btn.dataset.name;
      btn.classList.toggle("selected");

      if (selected.has(name)) selected.delete(name);
      else selected.add(name);

      hidden.value = Array.from(selected).join(",");
    });
  });

  function closeModal() {
    if (!modal) return;
    modal.style.display = "none";
  }
  window.closeModal = closeModal;

  form.addEventListener("submit", (e) => {
    const pw = document.getElementById("password").value;
    const pw2 = document.getElementById("password_confirm").value;
  });
});


document.addEventListener("DOMContentLoaded", () => {
  document.querySelectorAll(".pw_show_btn").forEach((btn) => {
    const targetId = btn.dataset.target;
    const field = document.getElementById(targetId);
    const icon = btn.querySelector(".pw-eye-icon");

    const eyeOn = btn.dataset.eyeOn;
    const eyeOff = btn.dataset.eyeOff;

    btn.addEventListener("click", () => {
      const isPw = field.type === "password";
      field.type = isPw ? "text" : "password";
      icon.src = isPw ? eyeOn : eyeOff;
    });
  });
});


</script>



{% endblock %}